<div class="about">
  <header class="header">About the Team</header>
  <article class="main">
    <p>Fern and Johannes are roommates with a passion for CS and D&D. When they're not consuming questionably expired food they particapate in D&D with friends. In hopes of giving a backup plan for when they don't prepare for future campaigns, they've created this website to ease their laziness.</p>
    <img src="https://i.imgur.com/n5M03yq.jpg" alt="Fern & Johannes" class="center">
  </article>
</div>
