<div class = "search_cont">
  <form>

      <div class = "search_chunk">
        <p>Number of Days:<br>
        <input id="daysInput" type="text"><br>
        </p>
        <p>Player Level:<br>
        <input id="levelInput" type="text"><br>
        </p>
        <p>Number of Players:<br>
        <input id="playersInput" type="text"><br>
        </p>
        <p>Encounters per Day:<br>
        <input id="encounterInput" type="text"><br>
        </p>
      </div>
      <button onclick="create_adventure()" type ="button" id ="create_button">Create</button>
  </form>
</div>
