<form>
  Number of Days:<br>
  <input id="daysInput" type="text"><br>
  Player Level:<br>
  <input id="levelInput" type="text"><br>
  Number of Players:<br>
  <input id="playersInput" type="text"><br>
  Encounters per Day:<br>
  <input id="encounterInput" type="text"><br>
  <button id="createEncounter" type="button">Create</button>
</form>
